src/test/resources/mule-http-mockserver-demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http-mockserver="http://www.mulesoft.org/schema/mule/http-mockserver" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http-mockserver http://www.mulesoft.org/schema/mule/http-mockserver/current/mule-http-mockserver.xsd">
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="7f78891a-b15e-465a-a7bd-28a8402a884c" >
		<http:request-connection host="0.0.0.0" protocol="HTTP" port="${http.request.port}" />
	</http:request-config>
	<http-mockserver:config name="HTTP_MockServer_Config" doc:name="HTTP MockServer Config" >
		<http-mockserver:connection port="${http.request.port}" />
	</http-mockserver:config>
	<flow name="mule-http-mockserver-test-verify-at-least">
		<http-mockserver:set-expectation config-ref="HTTP_MockServer_Config">
				<http-mockserver:expectation ><![CDATA[#[output application/json
---
{
	"id": "valid-expectation-id-1",
  "httpRequest" : {
    "method" : "GET",
    "path" : "/api/info"
  },
  "httpResponse" : {
    "body" : "some_response_body",
    "statusCode": 201
  }
}]]]></http-mockserver:expectation>
			</http-mockserver:set-expectation>
		<http:request method="GET" config-ref="HTTP_Request_configuration" path="/api/info"/>
		<http-mockserver:verify-expectation comparison="AT_LEAST" config-ref="HTTP_MockServer_Config" expectationId="valid-expectation-id-1" count="1"/>
	</flow>
	<flow name="mule-http-mockserver-object-test-verify-at-least">
		<http-mockserver:create-expectation doc:name="Create expectation" doc:id="dac5bc23-ff50-4f05-9bb5-52399c510b16" config-ref="HTTP_MockServer_Config" expectationId="valid-expectation-id-1">
			<http-mockserver:match-request path="/api/info" method="GET">
			</http-mockserver:match-request>

		</http-mockserver:create-expectation>
		<http:request method="GET" config-ref="HTTP_Request_configuration" path="/api/info"/>
		<http-mockserver:verify-expectation comparison="AT_LEAST" config-ref="HTTP_MockServer_Config" expectationId="valid-expectation-id-1" count="1"/>
	</flow>
	<flow name="mule-http-mockserver-request-test-with-payload">
		<http-mockserver:create-expectation doc:name="Create expectation" doc:id="dac5bc23-ff50-4f05-9bb5-52399c510b16" config-ref="HTTP_MockServer_Config" expectationId="valid-expectation-id-1">
			<http-mockserver:match-request path="/api/info" method="POST">
				<http-mockserver:request-body ><![CDATA[#[output application/xml
---
command: 'greet']]]></http-mockserver:request-body>
			</http-mockserver:match-request>
			<http-mockserver:respond-with statusCode="201" delayTime="2000">
				<http-mockserver:response-body ><![CDATA[#[output application/json
---
{'say':'hello'}]]]></http-mockserver:response-body>
			</http-mockserver:respond-with>
		</http-mockserver:create-expectation>
		<set-payload value="#[output application/xml --- command: 'greet']" />
		<http:request method="POST" config-ref="HTTP_Request_configuration" path="/api/info"/>
		<http-mockserver:verify-expectation comparison="AT_LEAST" config-ref="HTTP_MockServer_Config" expectationId="valid-expectation-id-1" count="1"/>
	</flow>
</mule>
